  :root {
  --bg: #f4f4f4;
  --card: white;
  --text: black;
}

.dark {
  --bg: #121212;
  --card: #1e1e1e;
  --text: white;
}

body {
  margin: 0;
  font-family: Arial;
  background: var(--bg);
  color: var(--text);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: var(--card);
}

.container {
  padding: 15px;
}

input, textarea, button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}

iframe {
  width: 100%;
  height: 300px;
  margin-top: 15px;
  border-radius: 8px;
}
